div.sub-card-layout {
    width: 100%;
    height: 100%;
    padding: 2px;

    div.sub-card {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1rem;
        border-radius: var(--custom-border-radius);
        box-shadow: var(--box-shadow-medium);

        div.card-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: var(--ion-text-color-light);
            gap: 1rem;

            ion-icon.logo {
                height: 2rem;
                width: 2rem;
                min-width: 2rem;
                color: var(--ion-text-color-light);
            }

            div.header-container {
                display: flex;
                flex-direction: column;
                flex-grow: 1;

                h2.header-title, span.header-sub-title {
                    margin: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                }

                span.header-sub-title {
                    font-size: 12px;
                    margin: 0.2rem 0;
                }
            }
        }

        div.card-content {
            padding: 1rem;
            background: rgb(0 0 0 / 20%);
            border-radius: var(--custom-border-radius);
            color: var(--ion-text-color-light);
            margin-top: 0.5rem;

            div.flex-row {
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            div.next-payment-container {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                flex: 1;

                span.days {
                    font-size: 30px;
                    font-weight: bold;
                }

                span.next-payment {
                    font-size: 12px;
                }
            }

            div.price-container {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                border-left: 1px solid var(--ion-text-color-light);
                flex: 1;

                span.price {
                    font-size: 30px;
                    font-weight: bold;
                }

                span.periodicity {
                    font-size: 12px;
                }
            }
        }
    }
}
