<ng-container *transloco="let t">

  <div class="sub-card-layout">

    <div class="sub-card" [style.background]="platform?.color ?? '#5260ff'">

      <div class="card-header">
        <ion-icon [name]="logo" class="logo"></ion-icon>
        <div class="header-container">
          <h2 class="header-title">
            {{ name !== null && name !== '' ? name : t('sub.form.name') }}
          </h2>
          <span class="header-sub-title">
            {{ plan?.name ? (t('subscriptionPlatform.plan.' + plan?.name) | uppercase) : t('sub.form.plan') | uppercase }}
          </span>
        </div>
      </div>

      <div class="card-content" *ngIf="showMoreInfo">

        <div class="flex-row">

          <div class="next-payment-container">
            <span class="days"> {{ firstPayment | daysUntil: type }} </span>
            <span class="next-payment"> {{ t('sub.nextPayment') | uppercase }} </span>
          </div>

          <div class="price-container">
            <span class="price">
              {{ (price ?? 0) | currency: currency : 'symbol-narrow' : undefined : language }}
            </span>
            <div [ngSwitch]="type">
              <span class="periodicity" *ngSwitchCase="planTypeEnum.daily">
                {{ t(every < 2 ? 'sub.eachDay' : 'sub.eachMultipleDays', ({ total: every })) | uppercase }}
              </span>
              <span class="periodicity" *ngSwitchCase="planTypeEnum.weekly">
                {{ t(every < 2 ? 'sub.eachWeek' : 'sub.eachMultipleWeeks', ({ total: every })) | uppercase }}
              </span>
              <span class="periodicity" *ngSwitchCase="planTypeEnum.monthly">
                {{ t(every < 2 ? 'sub.eachMonth' : 'sub.eachMultipleMonths', ({ total: every })) | uppercase }}
              </span>
              <span class="periodicity" *ngSwitchCase="planTypeEnum.yearly">
                {{ t(every < 2 ? 'sub.eachYear' : 'sub.eachMultipleYears', ({ total: every })) | uppercase }}
              </span>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>

</ng-container>
