<ng-container *transloco="let t">

  <div class="sub-card-layout" [ngClass]="{ 'selectable': selectable}" [style.color]="'var(--ion-color-' + textColor + ')'">

    <div class="sub-card" [style.background]="'var(--ion-color-' + color + ')'">

      <div class="card-header">
        <ion-icon [name]="logo" class="logo"></ion-icon>
        <div class="header-container">
          <h2 class="header-title">
            {{ name !== null && name !== '' ? name : t('sub.form.name') }}
          </h2>
          <span class="header-sub-title">
            {{ plan?.name ? (t('platform.plan.' + plan?.name) | uppercase) : t('sub.form.plan') | uppercase }}
          </span>
        </div>
        <div class="price-container" *ngIf="!showMoreInfo">
          <app-price-container
            [showMoreInfo]="showMoreInfo"
            [type]="type"
            [price]="price"
            [currency]="currency"
            [every]="every">
          </app-price-container>
        </div>
      </div>

      <div class="card-content" *ngIf="showMoreInfo">

        <div class="flex-row">

          <div class="next-payment-container" [style.border-right]="'1px solid var(--ion-color-' + color + ')'">
            <span class="days"> {{ firstPayment | daysUntil: type }} </span>
            <span class="next-payment"> {{ t('sub.nextPayment') | uppercase }} </span>
          </div>

          <div class="price-container" [style.border-left]="'1px solid var(--ion-color-' + color + ')'">
            <app-price-container
              [showMoreInfo]="showMoreInfo"
              [type]="type"
              [price]="price"
              [currency]="currency"
              [every]="every">
            </app-price-container>
          </div>

        </div>

      </div>

    </div>

  </div>

</ng-container>
