ion-modal {
    --border-radius: var(--custom-border-radius);

    &.datetime-selector-modal {
        --height: 382px;
        --min-width: 290px;
        --max-width: 350px;

        ion-datetime {
            width: auto;
            max-width: 350px;
            height: 382px;
        }
    }
    
    &.logo-selector-modal {
        --min-height: 382px;
        --height: calc(100vh - 4rem);
        --min-width: 290px;
        --width: calc(100vw - 4rem);
        --max-width: 1248px;
    }
    
    &.color-selector-modal {
        --min-height: 382px;
        --height: calc(100vh - 4rem);
        --max-height: 918px;
        --min-width: 290px;
        --width: calc(100vw - 4rem);
        --max-width: 393px;
    }
}
