:root {
	--ion-color-blue-lighter: #64b5f6;
	--ion-color-blue-lighter-rgb: 100,181,246;
	--ion-color-blue-lighter-contrast: #000000;
	--ion-color-blue-lighter-contrast-rgb: 0,0,0;
	--ion-color-blue-lighter-shade: #589fd8;
	--ion-color-blue-lighter-tint: #74bcf7;

	--ion-color-blue-light: #42a5f5;
	--ion-color-blue-light-rgb: 66,165,245;
	--ion-color-blue-light-contrast: #000000;
	--ion-color-blue-light-contrast-rgb: 0,0,0;
	--ion-color-blue-light-shade: #3a91d8;
	--ion-color-blue-light-tint: #55aef6;

	--ion-color-blue: #2196f3;
	--ion-color-blue-rgb: 33,150,243;
	--ion-color-blue-contrast: #ffffff;
	--ion-color-blue-contrast-rgb: 255,255,255;
	--ion-color-blue-shade: #1d84d6;
	--ion-color-blue-tint: #37a1f4;

	--ion-color-blue-dark: #1e88e5;
	--ion-color-blue-dark-rgb: 30,136,229;
	--ion-color-blue-dark-contrast: #ffffff;
	--ion-color-blue-dark-contrast-rgb: 255,255,255;
	--ion-color-blue-dark-shade: #1a78ca;
	--ion-color-blue-dark-tint: #3594e8;

	--ion-color-blue-darker: #1976d2;
	--ion-color-blue-darker-rgb: 25,118,210;
	--ion-color-blue-darker-contrast: #ffffff;
	--ion-color-blue-darker-contrast-rgb: 255,255,255;
	--ion-color-blue-darker-shade: #1668b9;
	--ion-color-blue-darker-tint: #3084d7;
}

.ion-color-blue-lighter {
	--ion-color-base: var(--ion-color-blue-lighter);
	--ion-color-base-rgb: var(--ion-color-blue-lighter-rgb);
	--ion-color-contrast: var(--ion-color-blue-lighter-contrast);
	--ion-color-contrast-rgb: var(--ion-color-blue-lighter-contrast-rgb);
	--ion-color-shade: var(--ion-color-blue-lighter-shade);
	--ion-color-tint: var(--ion-color-blue-lighter-tint);
}

.ion-color-blue-light {
	--ion-color-base: var(--ion-color-blue-light);
	--ion-color-base-rgb: var(--ion-color-blue-light-rgb);
	--ion-color-contrast: var(--ion-color-blue-light-contrast);
	--ion-color-contrast-rgb: var(--ion-color-blue-light-contrast-rgb);
	--ion-color-shade: var(--ion-color-blue-light-shade);
	--ion-color-tint: var(--ion-color-blue-light-tint);
}

.ion-color-blue {
	--ion-color-base: var(--ion-color-blue);
	--ion-color-base-rgb: var(--ion-color-blue-rgb);
	--ion-color-contrast: var(--ion-color-blue-contrast);
	--ion-color-contrast-rgb: var(--ion-color-blue-contrast-rgb);
	--ion-color-shade: var(--ion-color-blue-shade);
	--ion-color-tint: var(--ion-color-blue-tint);
}

.ion-color-blue-dark {
	--ion-color-base: var(--ion-color-blue-dark);
	--ion-color-base-rgb: var(--ion-color-blue-dark-rgb);
	--ion-color-contrast: var(--ion-color-blue-dark-contrast);
	--ion-color-contrast-rgb: var(--ion-color-blue-dark-contrast-rgb);
	--ion-color-shade: var(--ion-color-blue-dark-shade);
	--ion-color-tint: var(--ion-color-blue-dark-tint);
}

.ion-color-blue-darker {
	--ion-color-base: var(--ion-color-blue-darker);
	--ion-color-base-rgb: var(--ion-color-blue-darker-rgb);
	--ion-color-contrast: var(--ion-color-blue-darker-contrast);
	--ion-color-contrast-rgb: var(--ion-color-blue-darker-contrast-rgb);
	--ion-color-shade: var(--ion-color-blue-darker-shade);
	--ion-color-tint: var(--ion-color-blue-darker-tint);
}
