:root {
	--ion-color-blue-light: #85B1FF;
	--ion-color-blue-light-rgb: 133,177,255;
	--ion-color-blue-light-contrast: #000000;
	--ion-color-blue-light-contrast-rgb: 0,0,0;
	--ion-color-blue-light-shade: #759ce0;
	--ion-color-blue-light-tint: #91b9ff;

	--ion-color-blue: #3880ff;
	--ion-color-blue-rgb: 56,128,255;
	--ion-color-blue-contrast: #ffffff;
	--ion-color-blue-contrast-rgb: 255,255,255;
	--ion-color-blue-shade: #3171e0;
	--ion-color-blue-tint: #4c8dff;

	--ion-color-blue-dark: #0A64FF;
	--ion-color-blue-dark-rgb: 10,100,255;
	--ion-color-blue-dark-contrast: #ffffff;
	--ion-color-blue-dark-contrast-rgb: 255,255,255;
	--ion-color-blue-dark-shade: #0958e0;
	--ion-color-blue-dark-tint: #2374ff;
}

.ion-color-blue-light {
	--ion-color-base: var(--ion-color-blue-light);
	--ion-color-base-rgb: var(--ion-color-blue-light-rgb);
	--ion-color-contrast: var(--ion-color-blue-light-contrast);
	--ion-color-contrast-rgb: var(--ion-color-blue-light-contrast-rgb);
	--ion-color-shade: var(--ion-color-blue-light-shade);
	--ion-color-tint: var(--ion-color-blue-light-tint);
}

.ion-color-blue {
	--ion-color-base: var(--ion-color-blue);
	--ion-color-base-rgb: var(--ion-color-blue-rgb);
	--ion-color-contrast: var(--ion-color-blue-contrast);
	--ion-color-contrast-rgb: var(--ion-color-blue-contrast-rgb);
	--ion-color-shade: var(--ion-color-blue-shade);
	--ion-color-tint: var(--ion-color-blue-tint);
}

.ion-color-blue-dark {
	--ion-color-base: var(--ion-color-blue-dark);
	--ion-color-base-rgb: var(--ion-color-blue-dark-rgb);
	--ion-color-contrast: var(--ion-color-blue-dark-contrast);
	--ion-color-contrast-rgb: var(--ion-color-blue-dark-contrast-rgb);
	--ion-color-shade: var(--ion-color-blue-dark-shade);
	--ion-color-tint: var(--ion-color-blue-dark-tint);
}
