:root {
	--ion-color-cyan-lighter: #4dd0e1;
	--ion-color-cyan-lighter-rgb: 77,208,225;
	--ion-color-cyan-lighter-contrast: #000000;
	--ion-color-cyan-lighter-contrast-rgb: 0,0,0;
	--ion-color-cyan-lighter-shade: #44b7c6;
	--ion-color-cyan-lighter-tint: #5fd5e4;

	--ion-color-cyan-light: #26c6da;
	--ion-color-cyan-light-rgb: 38,198,218;
	--ion-color-cyan-light-contrast: #000000;
	--ion-color-cyan-light-contrast-rgb: 0,0,0;
	--ion-color-cyan-light-shade: #21aec0;
	--ion-color-cyan-light-tint: #3cccde;

	--ion-color-cyan: #00bcd4;
	--ion-color-cyan-rgb: 0,188,212;
	--ion-color-cyan-contrast: #000000;
	--ion-color-cyan-contrast-rgb: 0,0,0;
	--ion-color-cyan-shade: #00a5bb;
	--ion-color-cyan-tint: #1ac3d8;

	--ion-color-cyan-dark: #00acc1;
	--ion-color-cyan-dark-rgb: 0,172,193;
	--ion-color-cyan-dark-contrast: #ffffff;
	--ion-color-cyan-dark-contrast-rgb: 255,255,255;
	--ion-color-cyan-dark-shade: #0097aa;
	--ion-color-cyan-dark-tint: #1ab4c7;

	--ion-color-cyan-darker: #0097a7;
	--ion-color-cyan-darker-rgb: 0,151,167;
	--ion-color-cyan-darker-contrast: #ffffff;
	--ion-color-cyan-darker-contrast-rgb: 255,255,255;
	--ion-color-cyan-darker-shade: #008593;
	--ion-color-cyan-darker-tint: #1aa1b0;
}

.ion-color-cyan-lighter {
	--ion-color-base: var(--ion-color-cyan-lighter);
	--ion-color-base-rgb: var(--ion-color-cyan-lighter-rgb);
	--ion-color-contrast: var(--ion-color-cyan-lighter-contrast);
	--ion-color-contrast-rgb: var(--ion-color-cyan-lighter-contrast-rgb);
	--ion-color-shade: var(--ion-color-cyan-lighter-shade);
	--ion-color-tint: var(--ion-color-cyan-lighter-tint);
}

.ion-color-cyan-light {
	--ion-color-base: var(--ion-color-cyan-light);
	--ion-color-base-rgb: var(--ion-color-cyan-light-rgb);
	--ion-color-contrast: var(--ion-color-cyan-light-contrast);
	--ion-color-contrast-rgb: var(--ion-color-cyan-light-contrast-rgb);
	--ion-color-shade: var(--ion-color-cyan-light-shade);
	--ion-color-tint: var(--ion-color-cyan-light-tint);
}

.ion-color-cyan {
	--ion-color-base: var(--ion-color-cyan);
	--ion-color-base-rgb: var(--ion-color-cyan-rgb);
	--ion-color-contrast: var(--ion-color-cyan-contrast);
	--ion-color-contrast-rgb: var(--ion-color-cyan-contrast-rgb);
	--ion-color-shade: var(--ion-color-cyan-shade);
	--ion-color-tint: var(--ion-color-cyan-tint);
}

.ion-color-cyan-dark {
	--ion-color-base: var(--ion-color-cyan-dark);
	--ion-color-base-rgb: var(--ion-color-cyan-dark-rgb);
	--ion-color-contrast: var(--ion-color-cyan-dark-contrast);
	--ion-color-contrast-rgb: var(--ion-color-cyan-dark-contrast-rgb);
	--ion-color-shade: var(--ion-color-cyan-dark-shade);
	--ion-color-tint: var(--ion-color-cyan-dark-tint);
}

.ion-color-cyan-darker {
	--ion-color-base: var(--ion-color-cyan-darker);
	--ion-color-base-rgb: var(--ion-color-cyan-darker-rgb);
	--ion-color-contrast: var(--ion-color-cyan-darker-contrast);
	--ion-color-contrast-rgb: var(--ion-color-cyan-darker-contrast-rgb);
	--ion-color-shade: var(--ion-color-cyan-darker-shade);
	--ion-color-tint: var(--ion-color-cyan-darker-tint);
}
