:root {
	--ion-color-green: #2dd36f;
	--ion-color-green-rgb: 45,211,111;
	--ion-color-green-contrast: #ffffff;
	--ion-color-green-contrast-rgb: 0,0,0;
	--ion-color-green-shade: #28ba62;
	--ion-color-green-tint: #42d77d;
}

.ion-color-green {
	--ion-color-base: var(--ion-color-green);
	--ion-color-base-rgb: var(--ion-color-green-rgb);
	--ion-color-contrast: var(--ion-color-green-contrast);
	--ion-color-contrast-rgb: var(--ion-color-green-contrast-rgb);
	--ion-color-shade: var(--ion-color-green-shade);
	--ion-color-tint: var(--ion-color-green-tint);
}
