:root {
	--ion-color-grey: #92949c;
	--ion-color-grey-rgb: 146,148,156;
	--ion-color-grey-contrast: #ffffff;
	--ion-color-grey-contrast-rgb: 0,0,0;
	--ion-color-grey-shade: #808289;
	--ion-color-grey-tint: #9d9fa6;
}

.ion-color-grey {
	--ion-color-base: var(--ion-color-grey);
	--ion-color-base-rgb: var(--ion-color-grey-rgb);
	--ion-color-contrast: var(--ion-color-grey-contrast);
	--ion-color-contrast-rgb: var(--ion-color-grey-contrast-rgb);
	--ion-color-shade: var(--ion-color-grey-shade);
	--ion-color-tint: var(--ion-color-grey-tint);
}
