:root {
	--ion-color-pink-light: #FF99BD;
	--ion-color-pink-light-rgb: 255,153,189;
	--ion-color-pink-light-contrast: #000000;
	--ion-color-pink-light-contrast-rgb: 0,0,0;
	--ion-color-pink-light-shade: #e087a6;
	--ion-color-pink-light-tint: #ffa3c4;

	--ion-color-pink: #FF5C95;
	--ion-color-pink-rgb: 255,92,149;
	--ion-color-pink-contrast: #000000;
	--ion-color-pink-contrast-rgb: 0,0,0;
	--ion-color-pink-shade: #e05183;
	--ion-color-pink-tint: #ff6ca0;

	--ion-color-pink-dark: #FF1F6D;
	--ion-color-pink-dark-rgb: 255,31,109;
	--ion-color-pink-dark-contrast: #ffffff;
	--ion-color-pink-dark-contrast-rgb: 255,255,255;
	--ion-color-pink-dark-shade: #e01b60;
	--ion-color-pink-dark-tint: #ff357c;
}

.ion-color-pink-light {
	--ion-color-base: var(--ion-color-pink-light);
	--ion-color-base-rgb: var(--ion-color-pink-light-rgb);
	--ion-color-contrast: var(--ion-color-pink-light-contrast);
	--ion-color-contrast-rgb: var(--ion-color-pink-light-contrast-rgb);
	--ion-color-shade: var(--ion-color-pink-light-shade);
	--ion-color-tint: var(--ion-color-pink-light-tint);
}

.ion-color-pink {
	--ion-color-base: var(--ion-color-pink);
	--ion-color-base-rgb: var(--ion-color-pink-rgb);
	--ion-color-contrast: var(--ion-color-pink-contrast);
	--ion-color-contrast-rgb: var(--ion-color-pink-contrast-rgb);
	--ion-color-shade: var(--ion-color-pink-shade);
	--ion-color-tint: var(--ion-color-pink-tint);
}

.ion-color-pink-dark {
	--ion-color-base: var(--ion-color-pink-dark);
	--ion-color-base-rgb: var(--ion-color-pink-dark-rgb);
	--ion-color-contrast: var(--ion-color-pink-dark-contrast);
	--ion-color-contrast-rgb: var(--ion-color-pink-dark-contrast-rgb);
	--ion-color-shade: var(--ion-color-pink-dark-shade);
	--ion-color-tint: var(--ion-color-pink-dark-tint);
}
