:root {
	--ion-color-red-light: #F17E8D;
	--ion-color-red-light-rgb: 241,126,141;
	--ion-color-red-light-contrast: #000000;
	--ion-color-red-light-contrast-rgb: 0,0,0;
	--ion-color-red-light-shade: #d46f7c;
	--ion-color-red-light-tint: #f28b98;

	--ion-color-red: #eb445a;
	--ion-color-red-rgb: 235,68,90;
	--ion-color-red-contrast: #ffffff;
	--ion-color-red-contrast-rgb: 255,255,255;
	--ion-color-red-shade: #cf3c4f;
	--ion-color-red-tint: #ed576b;

	--ion-color-red-dark: #DE1732;
	--ion-color-red-dark-rgb: 222,23,50;
	--ion-color-red-dark-contrast: #ffffff;
	--ion-color-red-dark-contrast-rgb: 255,255,255;
	--ion-color-red-dark-shade: #c3142c;
	--ion-color-red-dark-tint: #e12e47;
}

.ion-color-red-light {
	--ion-color-base: var(--ion-color-red-light);
	--ion-color-base-rgb: var(--ion-color-red-light-rgb);
	--ion-color-contrast: var(--ion-color-red-light-contrast);
	--ion-color-contrast-rgb: var(--ion-color-red-light-contrast-rgb);
	--ion-color-shade: var(--ion-color-red-light-shade);
	--ion-color-tint: var(--ion-color-red-light-tint);
}

.ion-color-red {
	--ion-color-base: var(--ion-color-red);
	--ion-color-base-rgb: var(--ion-color-red-rgb);
	--ion-color-contrast: var(--ion-color-red-contrast);
	--ion-color-contrast-rgb: var(--ion-color-red-contrast-rgb);
	--ion-color-shade: var(--ion-color-red-shade);
	--ion-color-tint: var(--ion-color-red-tint);
}

.ion-color-red-dark {
	--ion-color-base: var(--ion-color-red-dark);
	--ion-color-base-rgb: var(--ion-color-red-dark-rgb);
	--ion-color-contrast: var(--ion-color-red-dark-contrast);
	--ion-color-contrast-rgb: var(--ion-color-red-dark-contrast-rgb);
	--ion-color-shade: var(--ion-color-red-dark-shade);
	--ion-color-tint: var(--ion-color-red-dark-tint);
}
