:root {
	--ion-color-violet-light: #99A2FF;
	--ion-color-violet-light-rgb: 153,162,255;
	--ion-color-violet-light-contrast: #000000;
	--ion-color-violet-light-contrast-rgb: 0,0,0;
	--ion-color-violet-light-shade: #878fe0;
	--ion-color-violet-light-tint: #a3abff;
	
	--ion-color-violet: #5260ff;
	--ion-color-violet-rgb: 82,96,255;
	--ion-color-violet-contrast: #ffffff;
	--ion-color-violet-contrast-rgb: 255,255,255;
	--ion-color-violet-shade: #4854e0;
	--ion-color-violet-tint: #6370ff;

	--ion-color-violet-dark: #1F31FF;
	--ion-color-violet-dark-rgb: 31,49,255;
	--ion-color-violet-dark-contrast: #ffffff;
	--ion-color-violet-dark-contrast-rgb: 255,255,255;
	--ion-color-violet-dark-shade: #1b2be0;
	--ion-color-violet-dark-tint: #3546ff;
}

.ion-color-violet-light {
	--ion-color-base: var(--ion-color-violet-light);
	--ion-color-base-rgb: var(--ion-color-violet-light-rgb);
	--ion-color-contrast: var(--ion-color-violet-light-contrast);
	--ion-color-contrast-rgb: var(--ion-color-violet-light-contrast-rgb);
	--ion-color-shade: var(--ion-color-violet-light-shade);
	--ion-color-tint: var(--ion-color-violet-light-tint);
}

.ion-color-violet {
	--ion-color-base: var(--ion-color-violet);
	--ion-color-base-rgb: var(--ion-color-violet-rgb);
	--ion-color-contrast: var(--ion-color-violet-contrast);
	--ion-color-contrast-rgb: var(--ion-color-violet-contrast-rgb);
	--ion-color-shade: var(--ion-color-violet-shade);
	--ion-color-tint: var(--ion-color-violet-tint);
}

.ion-color-violet-dark {
	--ion-color-base: var(--ion-color-violet-dark);
	--ion-color-base-rgb: var(--ion-color-violet-dark-rgb);
	--ion-color-contrast: var(--ion-color-violet-dark-contrast);
	--ion-color-contrast-rgb: var(--ion-color-violet-dark-contrast-rgb);
	--ion-color-shade: var(--ion-color-violet-dark-shade);
	--ion-color-tint: var(--ion-color-violet-dark-tint);
}
