:root {
	--ion-color-white: #f4f5f8;
	--ion-color-white-rgb: 244,245,248;
	--ion-color-white-contrast: #222428;
	--ion-color-white-contrast-rgb: 0,0,0;
	--ion-color-white-shade: #d7d8da;
	--ion-color-white-tint: #f5f6f9;
}

.ion-color-white {
	--ion-color-base: var(--ion-color-white);
	--ion-color-base-rgb: var(--ion-color-white-rgb);
	--ion-color-contrast: var(--ion-color-white-contrast);
	--ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb);
	--ion-color-shade: var(--ion-color-white-shade);
	--ion-color-tint: var(--ion-color-white-tint);
}
