:root {
	--ion-color-yellow-light: #FFD447;
	--ion-color-yellow-light-rgb: 255,212,71;
	--ion-color-yellow-light-contrast: #000000;
	--ion-color-yellow-light-contrast-rgb: 0,0,0;
	--ion-color-yellow-light-shade: #e0bb3e;
	--ion-color-yellow-light-tint: #ffd859;

	--ion-color-yellow: #ffc409;
	--ion-color-yellow-rgb: 255,196,9;
	--ion-color-yellow-contrast: #222428;
	--ion-color-yellow-contrast-rgb: 0,0,0;
	--ion-color-yellow-shade: #e0ac08;
	--ion-color-yellow-tint: #ffca22;

	--ion-color-yellow-dark: #CC9C00;
	--ion-color-yellow-dark-rgb: 204,156,0;
	--ion-color-yellow-dark-contrast: #000000;
	--ion-color-yellow-dark-contrast-rgb: 0,0,0;
	--ion-color-yellow-dark-shade: #b48900;
	--ion-color-yellow-dark-tint: #d1a61a;
}

.ion-color-yellow-light {
	--ion-color-base: var(--ion-color-yellow-light);
	--ion-color-base-rgb: var(--ion-color-yellow-light-rgb);
	--ion-color-contrast: var(--ion-color-yellow-light-contrast);
	--ion-color-contrast-rgb: var(--ion-color-yellow-light-contrast-rgb);
	--ion-color-shade: var(--ion-color-yellow-light-shade);
	--ion-color-tint: var(--ion-color-yellow-light-tint);
}

.ion-color-yellow {
	--ion-color-base: var(--ion-color-yellow);
	--ion-color-base-rgb: var(--ion-color-yellow-rgb);
	--ion-color-contrast: var(--ion-color-yellow-contrast);
	--ion-color-contrast-rgb: var(--ion-color-yellow-contrast-rgb);
	--ion-color-shade: var(--ion-color-yellow-shade);
	--ion-color-tint: var(--ion-color-yellow-tint);
}

.ion-color-yellow-dark {
	--ion-color-base: var(--ion-color-yellow-dark);
	--ion-color-base-rgb: var(--ion-color-yellow-dark-rgb);
	--ion-color-contrast: var(--ion-color-yellow-dark-contrast);
	--ion-color-contrast-rgb: var(--ion-color-yellow-dark-contrast-rgb);
	--ion-color-shade: var(--ion-color-yellow-dark-shade);
	--ion-color-tint: var(--ion-color-yellow-dark-tint);
}
