ion-item.modal-item ion-label {
    margin: 20px 0px;

    ion-icon {
        margin-top: 10px;
    }

    h2 {
        margin: 10px;
    }

    p {
        margin-bottom: 20px;
    }

    ion-button {
        margin-bottom: 50vh;
    }
}
