div.skeleton-container, div.sub-card-container {
    padding: 10px;
}

// div.fab-buttons-container {
//     position: absolute;
//     display: flex;
//     flex-direction: row;
//     gap: 28px;
//     bottom: 10px;
//     justify-content: center;
//     width: 100%;
// }

ion-modal {
    --width: 290px;
    --height: 382px;
    --border-radius: 8px;
}

ion-modal ion-datetime {
    width: auto;
    max-width: 350px;
    height: 382px;
}
