div.skeleton-container, div.sub-card-container {
    padding: 10px;
}

div.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: var(--custom-border-radius);

    ion-icon.logo {
        height: 1.5rem;
        width: 1.5rem;
        min-width: 1.5rem;
        color: var(--ion-text-color-light);
    }
}

div.buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    width: 100%;

    ion-button {
        width: 100%;
    }
}

ion-modal {
    --width: 290px;
    --height: 382px;
    --border-radius: 8px;
}

ion-modal ion-datetime {
    width: auto;
    max-width: 350px;
    height: 382px;
}

ion-item {
    --border-width: 2px;
    --border-color: #5260ff;
    --inner-border-width: 0;
    padding: 10px 20px;

    &.logo-selection {
        cursor: pointer;
    }

    &::part(native) {
        border-radius: var(--custom-border-radius);
        min-height: 56px;
    }
}

ion-select {
    transform: translate3d(0px, -9px, 0px);
}

:host ::ng-deep ion-input input {
    transform: translate3d(0px, 4px, 0px);
}

ion-note {
    padding: 10px 0 10px 0;
}
