<ng-container *transloco="let t">
  
  <ion-content mode="ios">

    <div class="skeleton-container" *ngIf="(userDataLoading$ | async) && (subsDataLoading$ | async)">
      <app-sub-card-skeleton></app-sub-card-skeleton>
    </div>

    <form [formGroup]="subForm" *ngIf="!((userDataLoading$ | async) && (subsDataLoading$ | async))">

      <div class="sub-card-container">
        <app-sub-card
          [name]="subForm.value.name"
          [platform]="subForm.value.platform"
          [plan]="subForm.value.plan"
          [type]="subForm.value.type"
          [firstPayment]="subForm.value.firstPayment"
          [price]="subForm.value.price"
          [currency]="subForm.value.currency"
          [every]="subForm.value.every"
          [logo]="subForm.value.logo"
          [color]="subForm.value.color"
          [textColor]="subForm.value.textColor">
        </app-sub-card>
      </div>

      <ion-list>

        <ion-list-header>
          <ion-label> {{ t('sub.form.subscriptionType') }} </ion-label>
        </ion-list-header>

        <ion-item fill="outline" class="form-item" mode="md">
          <ion-label position="floating"> {{ t('sub.form.platform') }} </ion-label>
          <ion-select formControlName="platform" interface="action-sheet" mode="ios">
            <ion-select-option [value]="option" *ngFor="let option of subscriptionPlatforms">
              {{ t('subscriptionPlatform.' + option.name) }}
            </ion-select-option>
          </ion-select>
          <ion-icon name="chevron-down-outline" class="custom-select-icon"></ion-icon>
        </ion-item>
  
        <ion-item fill="outline" class="form-item" mode="md">
          <ion-label position="floating"> {{ t('sub.form.name') }} </ion-label>
          <ion-input formControlName="name" inputmode="text" type="text"></ion-input>
        </ion-item>

        <ion-item fill="outline" class="form-item" mode="md">
          <ion-label position="floating"> {{ t('sub.form.plan') }} </ion-label>
          <ion-select formControlName="plan" interface="action-sheet" mode="ios">
            <ion-select-option [value]="option" *ngFor="let option of platformPlans">
              {{ t('subscriptionPlatform.plan.' + option.name) }}
            </ion-select-option>
          </ion-select>
          <ion-icon name="chevron-down-outline" class="custom-select-icon"></ion-icon>
        </ion-item>
        
      </ion-list>

      <ion-list>

        <ion-list-header>
          <ion-label> {{ t('sub.form.subscriptionData') }} </ion-label>
        </ion-list-header>

        <ion-item fill="outline" class="form-item" mode="md">
          <ion-label position="floating"> {{ t('sub.form.price') }} </ion-label>
          <ion-input formControlName="price" inputmode="decimal" type="number" [min]="0"></ion-input>
        </ion-item>

        <ion-item fill="outline" class="form-item" mode="md">
          <ion-label position="floating"> {{ t('sub.form.currency') }} </ion-label>
          <ion-select formControlName="currency" interface="action-sheet" (ionChange)="onChangeCurrency($event)" mode="ios">
            <ion-select-option [value]="currency.code" *ngFor="let currency of currencies">
              {{ currency.currency }}
            </ion-select-option>
          </ion-select>
          <ion-icon name="chevron-down-outline" class="custom-select-icon"></ion-icon>
        </ion-item>

      </ion-list>

      <ion-list>

        <ion-list-header>
          <ion-label> {{ t('sub.form.billingPeriod') }} </ion-label>
        </ion-list-header>

        <ion-item fill="outline" class="form-item" mode="md">
          <ion-label position="floating"> {{ t('sub.form.every') }} </ion-label>
          <ion-input formControlName="every" inputmode="number" type="number" [min]="1"></ion-input>
        </ion-item>

        <ion-item fill="outline" class="form-item" mode="md">
          <ion-label position="floating"> {{ t('sub.form.period') }} </ion-label>
          <ion-select formControlName="type" interface="action-sheet" mode="ios">
            <ion-select-option [value]="planTypeEnum.daily"> {{ t('subscriptionPlatform.plan.type.' + planTypeEnum.daily) }} </ion-select-option>
            <ion-select-option [value]="planTypeEnum.weekly"> {{ t('subscriptionPlatform.plan.type.' + planTypeEnum.weekly) }} </ion-select-option>
            <ion-select-option [value]="planTypeEnum.monthly"> {{ t('subscriptionPlatform.plan.type.' + planTypeEnum.monthly) }} </ion-select-option>
            <ion-select-option [value]="planTypeEnum.yearly"> {{ t('subscriptionPlatform.plan.type.' + planTypeEnum.yearly) }} </ion-select-option>
          </ion-select>
          <ion-icon name="chevron-down-outline" class="custom-select-icon"></ion-icon>
        </ion-item>

        <ion-item fill="outline" class="form-item first-payment" id="open-date-picker-modal" mode="md">
          <ion-label> {{ t('sub.form.firstPayment') }} </ion-label>
          <ion-note slot="end" id="datetimeValue" mode="md"> {{ subForm.value.firstPayment | dateFormat}} </ion-note>
        </ion-item>
        <ion-modal trigger="open-date-picker-modal" class="datetime-selector-modal">
          <ng-template>
            <ion-content>
              <ion-datetime
                #datePicker
                formControlName="firstPayment"
                presentation="date"
                [showDefaultButtons]="true"
                min="1989-06-04"
                mode="ios">
              </ion-datetime>
            </ion-content>
          </ng-template>
        </ion-modal>

      </ion-list>

      <ion-list>

        <ion-list-header>
          <ion-label> {{ t('sub.form.additionalInformation') }} </ion-label>
        </ion-list-header>

        <ion-item fill="outline" class="form-item logo-selection" id="open-logo-selector-modal" mode="md">
          <ion-label> {{ t('sub.form.logo') }} </ion-label>
          <ion-fab-button size="small" color="white">
            <ion-icon [name]="subForm.value.logo"></ion-icon>
          </ion-fab-button>
        </ion-item>
        <ion-modal #logoSelectorModal trigger="open-logo-selector-modal" class="logo-selector-modal" [canDismiss]="true">
          <ng-template>
            <app-logo-selector
              [modal]="logoSelectorModal"
              [selected]="subForm.value.logo"
              [theme]="subForm.value.platform?.theme"
              (onSelectIcon)="onChangeLogo($event)">
            </app-logo-selector>
          </ng-template>
        </ion-modal>

        <ion-item fill="outline" class="form-item color-selection" id="open-color-selector-modal" mode="md">
          <ion-label> {{ t('sub.form.color') }} </ion-label>
          <ion-fab-button size="small" [color]="subForm.value.color"></ion-fab-button>
        </ion-item>
        <ion-modal #colorSelectorModal trigger="open-color-selector-modal" class="color-selector-modal" [canDismiss]="true">
          <ng-template>
            <app-color-selector
              [modal]="colorSelectorModal"
              [selected]="subForm.value.color"
              (onSelectColor)="onChangeColor($event)">
            </app-color-selector>
          </ng-template>
        </ion-modal>

        <ion-item fill="outline" class="form-item text-color-selection" id="open-text-color-selector-modal" mode="md">
          <ion-label> {{ t('sub.form.textColor') }} </ion-label>
          <ion-fab-button size="small" [color]="subForm.value.textColor"></ion-fab-button>
        </ion-item>
        <ion-modal #textColorSelectorModal trigger="open-text-color-selector-modal" class="color-selector-modal" [canDismiss]="true">
          <ng-template>
            <app-color-selector
              [modal]="textColorSelectorModal"
              [selected]="subForm.value.textColor"
              (onSelectColor)="onChangeTextColor($event)">
            </app-color-selector>
          </ng-template>
        </ion-modal>

      </ion-list>

      <div class="buttons-container">

        <ion-button (click)="mode === modeEnum.new ? onClickAddNewSub() : onClickModifySub()"
          color="primary"
          [disabled]="subForm.invalid"
          mode="ios">
          <ion-icon slot="start" name="save-outline"></ion-icon>
          {{ t('buttons.saveSub') }}
        </ion-button>

        <ion-button (click)="onClickDeleteSub()"
          color="danger"
          [disabled]="subForm.invalid"
          mode="ios"
          *ngIf="mode === modeEnum.modify">
          <ion-icon slot="start" name="trash-outline"></ion-icon>
          {{ t('buttons.deleteSub') }}
        </ion-button>

        <ion-button routerLink="/board"
          color="secondary"
          fill="outline"
          mode="ios">
          <ion-icon slot="start" name="close-outline"></ion-icon>
          {{ t('buttons.discardChanges') }}
        </ion-button>

      </div>

    </form>
  
  </ion-content>

</ng-container>
