ion-header ion-toolbar ion-title ion-icon {
    height: 1.5rem;
    width: 1.5rem;
}

app-sub-card {
    width: 100%;
}

// div.bottom-bar {
//     position: sticky;
//     bottom: 0;
//     width: 100%;
//     height: 3rem;
//     background-color: var(--ion-color-primary);
//     border-top-left-radius: var(--custom-border-radius);
//     border-top-right-radius: var(--custom-border-radius);
// }
