<ng-container *transloco="let t">

  <ion-content>

    <ion-grid *ngIf="!((userDataLoading$ | async) && (subsDataLoading$ | async))">
      <ion-row>
        <ion-col size="12" size-sm="12" size-md="6" size-lg="6" size-xl="4" *ngFor="let sub of (subs$ | async)">
          <app-sub-card
            [routerLink]="'/sub/' + sub.id"
            [name]="sub.name"
            [platform]="sub.platform"
            [plan]="sub.plan"
            [type]="sub.type"
            [firstPayment]="sub.firstPayment"
            [price]="sub.price"
            [currency]="sub.currency"
            [every]="sub.every"
            [logo]="sub.logo"
            [showMoreInfo]="(userData$ | async)?.showMoreInfo">
          </app-sub-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button mode="ios" color="primary" routerLink="/sub/new">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </ion-content>

</ng-container>
