ion-header ion-toolbar ion-title ion-icon {
    height: 1.5rem;
    width: 1.5rem;
}

:host ::ng-deep app-sub-card {
    width: 100%;

    &.visible .sub-card-layout {
        -webkit-animation-name: bounceIn;
        animation-name: bounceIn;
        animation-duration: 0.5s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }

    &.hidden .sub-card-layout {
        -webkit-animation-name: bounceOut;
        animation-name: bounceOut;
        animation-duration: 0.25s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }
}

@-webkit-keyframes bounceIn {

    0% {
        opacity: 0;
        -webkit-transform: scale(0.3) translate3d(0,0,0);
        -ms-transform: scale(0.3) translate3d(0,0,0);
        transform: scale(0.3) translate3d(0,0,0);
    }

    50% {
        opacity: 0.9;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }

    80% {
        opacity: 1;
        -webkit-transform: scale(0.89);
        -ms-transform: scale(0.89);
        transform: scale(0.89);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1) translate3d(0,0,0);
        -ms-transform: scale(1) translate3d(0,0,0);
        transform: scale(1) translate3d(0,0,0);
    }
}

@keyframes bounceIn {
    
    0% {
        opacity: 0;
        transform: scale(0.3) translate3d(0,0,0);
    }

    50% {
        opacity: 0.9;
        transform: scale(1.1);
    }

    80% {
        opacity: 1;
        transform: scale(0.89);
    }

    100% {
        opacity: 1;
        transform: scale(1) translate3d(0,0,0);
    }
}

@-webkit-keyframes bounceOut {

    0% {
        opacity: 1;
        -webkit-transform: scale(1) translate3d(0,0,0);
        -ms-transform: scale(1) translate3d(0,0,0);
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(0.3) translate3d(0,0,0);
        -ms-transform: scale(0.3) translate3d(0,0,0);
    }
}

@keyframes bounceOut {

    0% {
        opacity: 1;
        transform: scale(1) translate3d(0,0,0);
    }

    100% {
        opacity: 0;
        transform: scale(0.3) translate3d(0,0,0);
    }
}
