<ng-container>

  <ion-header>
    <ion-toolbar>
      <ion-title> Modal </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="closeModal()"> Close </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    
    <ion-grid>
      <ion-row>
        <ion-col size="4" *ngFor="let icon of icons">
          <div class="icon-container" [ngClass]="{ 'selected': icon.icon === selected }">
            <ion-fab-button color="white" (click)="selectIcon(icon.icon)">
              <ion-icon [name]="icon.icon"></ion-icon>
            </ion-fab-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-content>
  
</ng-container>