<ng-container *transloco="let t">

  <ion-header>
    <ion-toolbar>
      <ion-title> {{ t('sub.form.selectLogo') }} </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    
    <ion-grid>
      <ion-row>
        <ion-col size="4" sizeXs="4" sizeSm="3" sizeMd="2" sizeLg="2" sizeXl="1" *ngFor="let icon of icons">
          <div class="icon-container" [ngClass]="{ 'selected': icon.icon === selected }">
            <ion-fab-button color="white" (click)="selectIcon(icon.icon)">
              <ion-icon [name]="icon.icon"></ion-icon>
            </ion-fab-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-content>
  
</ng-container>
