div.total-counter-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    color: var(--ion-color);
    box-shadow: var(--box-shadow-medium);
    background-color: var(--navigation-bar-background-color);
    border-radius: var(--custom-border-radius);
    padding: 1rem;
    
    div.total-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
    }

    div.buttons-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
}

ion-button.change-button {
    --padding-start: 2px;
    --padding-end: 2px;
}
