div.total-counter-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    color: var(--ion-color);
    box-shadow: var(--box-shadow-medium);
    background-color: var(--navigation-bar-background-color);
    border-radius: var(--custom-border-radius);
    padding: 1rem;
    
    div.total-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
    }

    div.buttons-container {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
        width: 100%;

        div.dual-buttons {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
        }

        div.single-button {
            position: relative;
            display: none;
            flex-direction: row;
            align-items: center;

            ion-fab {
                position: relative;
            }
        }

        &.fab-group {

            div.dual-buttons {
                display: none;
            }

            div.single-button {
                display: flex;

                ion-fab {
                    display: contents;
                }
            }
        }
    }
}

ion-button.change-button {
    --padding-start: 2px;
    --padding-end: 2px;
}
